
<div class="contact-container">
    <img src="../../../../assets/img/bannerTwo.png" alt="..." style="width: 100%; height: 5cm; object-fit: cover;">
  </div>
  
<div class="container-fluid mt-4">
    <div class="d-flex justify-content-center align-items-start my-5"> <!-- Alineación vertical -->
        <div class="col-md-6">
            <div class="card shadow border-light"> <!-- Sombra y borde ligero -->
                <div class="card-header bg-primary text-white text-center"> <!-- Color de fondo primario -->
                    <h4 class="fw-bold">Formulario de Producto</h4>
                </div>
                <div class="card-body">
                    <form class="p-4" #frmRegistrar="ngForm" (ngSubmit)="frmRegistrar.form.valid && enviarFormulario(frmRegistrar)">
                        <div class="mb-4">
                            <label for="nombreProducto" class="form-label">
                                <span class="text-danger">*</span> Nombre Producto
                            </label>
                            <input 
                                type="text" 
                                name="nombreProducto" 
                                id="nombreProducto"
                                [(ngModel)]="objProducto.nombreSuplemento" 
                                class="form-control"
                                required
                            >
                        </div>
                        <div class="mb-4">
                            <label for="fechaCaducidad" class="form-label">
                                <span class="text-danger">*</span> Fecha de Caducidad
                            </label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="fechaCaducidad"
                                name="fechaCaducidad" 
                                [(ngModel)]="objProducto.fechaCaducidad"
                                bsDatepicker 
                                [bsConfig]="{ containerClass: 'theme-red', dateInputFormat: 'YYYY-MM-DD' }"
                                required
                            >
                        </div>
                        <div class="mb-4">
                            <label for="cantidadEnvase" class="form-label">
                                <span class="text-danger">*</span> Cantidad por Envase
                            </label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="cantidadEnvase"
                                name="cantidadEnvase" 
                                [(ngModel)]="objProducto.cantidadPorEnvase"
                                required
                            >
                        </div>
                        <div class="mb-4">
                            <label for="precio" class="form-label">
                                <span class="text-danger">*</span> Precio
                            </label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="precio"
                                name="precio" 
                                [(ngModel)]="objProducto.precio"
                                required
                            >
                        </div>
                        <div class="mb-4">
                            <span class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-success col-4 mx-2">Registrar</button>
                                <a class="btn btn-danger col-4 mx-2" [routerLink]="['/producto/list']">Cancelar</a>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="../../../../assets/Me.jpg" alt="Suplementos" class="img-fluid" style="border-radius: 15px;"/> <!-- Reemplaza con la ruta de tu imagen -->
        </div>
    </div>
</div>
